@use './mixins' as mixin;
@import './font-type';


//colors
$primary-text-darkbg: #323232;
$seconday-text-color: #AFAFAF;
$primary-text-lighbg: #FFFFFF;

$bandSite-DarkBlack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

//padding
$padding-before-headlines: 24px;
$padding-after-headlines: 16px;
$padding-between-components: 16px;

//type-kit
$page-header-font-size: 24px;
$page-header-line-height: 32px;
$page-header-font-weight: 700; // Bold

$section-header-font-size: 24px;
$section-header-line-height: 32px;
$section-header-font-weight: 700; // Bold

$subheader-font-size: 14px;
$subheader-line-height: 22px;
$subheader-font-weight: 600; // Demi

$body-copy-font-size: 13px;
$body-copy-line-height: 18px;
$body-copy-font-weight: 400; // Regular

$footer-copy-font-size: 13px;
$footer-copy-line-height: 18px;
$footer-copy-font-weight: 400; // Regular

$labels-buttons-font-size: 10px;
$labels-buttons-line-height: 20px;
$labels-buttons-font-weight: 700; // Bold


//default margin/font style for html

body{
    font-family: 'AvenirNextTLPro', sans-serif;
    margin: 0;
}

.main-nav{
    display: flex;
    background-color: $primary-text-darkbg;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mixin.tablet{
        flex-direction: row;
        align-items: center;
        justify-content: start;
    }

    @include mixin.desktop{
        flex-direction: row;
        align-items: center;
        justify-content: start;
    }

    &__logo{
        padding-top: 16px;
        max-width: 120px;
        max-height: 20px;

        @include mixin.tablet{
            padding-top: 24px;
            padding-bottom: 24px;
            padding-left: 36px;
            padding-right: 72px;
        }

        @include mixin.desktop{
            width: 100px;
            padding-top: 24px;
            padding-bottom: 24px;
            padding-left: 148px;
            padding-right: 72px;
        }
    }

    &__list{
        display: flex;
        width: 100%;
        padding: 0;

        @include mixin.tablet{
            width: auto;
        }

        @include mixin.desktop{
            width: auto;
        }
    }

    &__list-item{
        display: inline;
        width:50%;
        text-align: center;
        list-style: none;
        font-size: $subheader-font-size;

        @include mixin.tablet{
            width: 100%;
            padding-right: 48px;
        }

        @include mixin.desktop{
            width: 100%;
            padding-right: 48px;
        }
    }

    &__link{
        display:block;
        position:relative;
        text-decoration: none;
        color: $mercury;

        &::after {
            content: '';
            position: absolute;
            left: 0; // positioning the ::after content
            right:0; //positioning the ::after contnet
            bottom: -17px; 
            background: white;
            width: 0%; // Full width of the element
            height: 3px; // Thickness of the underline

            @include mixin.tablet{
                bottom: -25px; // Adjust this value to place the underline below the text
            }

            @include mixin.desktop{
                bottom: -25px; 
            }
        }
        
        &--active::after, &:hover::after{
            width: 100%; // Underline will always be the full width on hover and when active
        }


        &--active{
            color:$primary-text-lighbg;
            font-weight: $subheader-font-weight;
        }
    }
}