//breakpoints
$breakpoint-mobile: 425px;
$breakpoint-mobile-l: 767px;
$breakpoint-tablet: 768px; 
$breakpoint-desktop: 1280px;

//mixins for media queries
@mixin mobile{
    @media (max-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin mobile-l{
    @media (min-width: ($breakpoint-mobile + 1px)) and (max-width:($breakpoint-tablet - 1px)){
        @content;
    }
}
@mixin tablet{
    @media (min-width: $breakpoint-tablet) and (max-width: ($breakpoint-desktop - 1px)){
        @content;
    }
}

@mixin desktop{
    @media (min-width: $breakpoint-desktop){
        @content;
    }
}