// Left and right padding for different breakpoints
$padding-mobile: 16px;
$padding-tablet: 36px;
$padding-desktop: 148px;

// Top and bottom padding for different breakpoints
$padding-after-content-mobile: 20px;
$padding-after-content-tablet: 36px;

// Common font/line sizes used 
$header-font-size: 36px;
$font-line-height: 32px;

//colors
$primary-text-darkbg: #323232;
$seconday-text-color: #AFAFAF;
$primary-text-lighbg: #FFFFFF;

$bandSite-DarkBlack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
