// Left and right padding for different breakpoints
$padding-mobile: 1rem;
$padding-tablet: 2.25rem;
$padding-desktop: 9.25rem;

// Top and bottom padding for different breakpoints
$padding-after-content-mobile: 1.25rem;
$padding-after-content-tablet: 2.25rem;

// Common font/line sizes used 
$header-font-size: 2.25rem;
$font-line-height: 2rem;

//colors
$primary-text-darkbg: #323232;
$seconday-text-color: #AFAFAF;
$primary-text-lighbg: #FFFFFF;

$bandsite-black: #323232;
$bandSite-DarkBlack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
