@font-face {
  font-family: "AvenirNextTLPro";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/Font/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNextTLPro";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/Font/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNextTLPro";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/Font/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
body {
  font-family: "AvenirNextTLPro", sans-serif;
  margin: 0;
}

.main-nav {
  display: flex;
  background-color: #323232;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main-nav {
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .main-nav {
    padding-top: 24px;
    padding-bottom: 24px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
}
@media (min-width: 2560px) {
  .main-nav {
    padding-top: 24px;
    padding-bottom: 24px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
}
.main-nav__logo {
  padding-top: 16px;
  max-width: 120px;
  max-height: 20px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main-nav__logo {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 36px;
    padding-right: 72px;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .main-nav__logo {
    width: 120px;
    height: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 148px;
    padding-right: 72px;
  }
}
@media (min-width: 2560px) {
  .main-nav__logo {
    width: 120px;
    height: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 148px;
    padding-right: 72px;
  }
}
.main-nav__list {
  display: flex;
  width: 100%;
  padding: 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main-nav__list {
    width: auto;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .main-nav__list {
    width: auto;
  }
}
@media (min-width: 2560px) {
  .main-nav__list {
    width: auto;
  }
}
.main-nav__list-item {
  display: inline;
  width: 50%;
  text-align: center;
  list-style: none;
  font-size: 20px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main-nav__list-item {
    width: 100%;
    padding-right: 48px;
    font-size: 14px;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .main-nav__list-item {
    width: 100%;
    padding-right: 48px;
  }
}
@media (min-width: 2560px) {
  .main-nav__list-item {
    width: 100%;
    padding-right: 48px;
  }
}
.main-nav__link {
  display: block;
  position: relative;
  text-decoration: none;
  color: #E1E1E1;
}
.main-nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -16px;
  background: white;
  width: 0%;
  height: 3px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main-nav__link::after {
    bottom: -28px;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .main-nav__link::after {
    bottom: -49px;
    height: 4px;
  }
}
@media (min-width: 2560px) {
  .main-nav__link::after {
    bottom: -48px;
  }
}
.main-nav__link--active::after, .main-nav__link:hover::after {
  width: 100%;
}
.main-nav__link--active {
  color: #FFFFFF;
  font-weight: 600;
}

.footer {
  background-color: #323232;
  display: flex;
  position: relative;
  flex-direction: column;
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer {
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .footer {
    padding-right: 148px;
    padding-left: 148px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .subcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .subcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
}
.subcontainer__header {
  font-size: 32px;
  font-weight: 600;
  color: white;
  padding-top: 16px;
  padding-bottom: 24px;
  padding-right: 17px;
  margin: 0;
}
.subcontainer__socials {
  padding-left: 8px;
  display: flex;
  gap: 30px;
}

.contact-info {
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .contact-info {
    padding-bottom: 80px;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .contact-info {
    padding-bottom: 80px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .contact-info__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .contact-info__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
  }
}
.contact-info__header {
  color: white;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .contact-info__header {
    font-size: 14px;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .contact-info__header {
    font-size: 14px;
  }
}
.contact-info__details {
  font-size: 16px;
  line-height: 25px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .contact-info__details {
    font-size: 14px;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .contact-info__details {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .contact-info__details--copyright {
    position: absolute;
    bottom: 0;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .contact-info__details--copyright {
    position: absolute;
    bottom: 0;
  }
}
.contact-info__email {
  text-decoration: none;
  color: white;
}
.contact-info__logo {
  padding-top: 36px;
  width: 120px;
  height: 25px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .contact-info__logo {
    position: absolute;
    top: -90px;
    right: 0;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .contact-info__logo {
    position: absolute;
    top: -90px;
    right: 0;
  }
}

.hero {
  background-image: url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  aspect-ratio: 10/6;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero {
    aspect-ratio: 9/5;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .hero {
    aspect-ratio: 5/2;
  }
}
@media (min-width: 2560px) {
  .hero {
    aspect-ratio: 3/1;
  }
}
.hero__overlay {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(50, 50, 50, 0.5);
  z-index: 1;
}
.hero__title {
  padding-left: 16px;
  margin: 0;
  color: #FFFFFF;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  z-index: 2;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero__title {
    padding-left: 36px;
    font-size: 60px;
    line-height: 68px;
    font-weight: 600;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .hero__title {
    padding-left: 148px;
    font-size: 80px;
    line-height: 68px;
    font-weight: 600;
  }
}
@media (min-width: 2560px) {
  .hero__title {
    padding-left: 148px;
    font-size: 80px;
    line-height: 68px;
    font-weight: 600;
  }
}

.about-section {
  display: flex;
  flex-direction: column;
  padding-right: 16px;
  padding-left: 16px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about-section {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .about-section {
    padding-left: 148px;
    padding-right: 148px;
  }
}
.about-section__header {
  padding-top: 24px;
  padding-bottom: 16px;
  margin: 0;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about-section__header {
    padding-top: 48px;
    padding-bottom: 36px;
    font-size: 36px;
    line-height: 32px;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .about-section__header {
    padding-top: 48px;
    padding-bottom: 36px;
    font-size: 28px;
    line-height: 32px;
  }
}
.about-section__image {
  padding-bottom: 16px;
  margin: 0;
  width: 100%;
  aspect-ratio: 10/6;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about-section__image {
    padding-bottom: 36px;
    aspect-ratio: 9/5;
    height: auto;
    width: 85%;
    align-self: center;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .about-section__image {
    padding-bottom: 36px;
    aspect-ratio: 9/5;
    height: auto;
    width: 85%;
    align-self: center;
  }
}
.about-section__image-description {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about-section__image-description {
    font-size: 24px;
    font-weight: 500;
    width: 85%;
    align-self: center;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .about-section__image-description {
    box-sizing: border-box;
    padding-right: 200px;
    font-size: 20px;
    font-weight: 600;
    width: 85%;
    align-self: center;
  }
}
.about-section__indent {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about-section__indent {
    font-size: 16px;
    font-weight: 500;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .about-section__indent {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 600;
  }
}
.about-section__subheader {
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  padding-bottom: 16px;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about-section__subheader {
    padding-top: 36px;
    padding-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
    width: 85%;
    align-self: center;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .about-section__subheader {
    padding-top: 32px;
    padding-bottom: 24px;
    font-size: 24px;
    font-weight: 500;
    width: 85%;
    align-self: center;
  }
}
.about-section__paragraph1 {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 16px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about-section__paragraph1 {
    font-size: 14px;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .about-section__paragraph1 {
    font-size: 14px;
  }
}
.about-section__paragraph2 {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 16px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about-section__paragraph2 {
    font-size: 14px;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .about-section__paragraph2 {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about-section__subcontainer {
    display: flex;
    width: 85%;
    align-self: center;
    gap: 35px;
    padding-bottom: 24px;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .about-section__subcontainer {
    display: flex;
    width: 85%;
    align-self: center;
    gap: 35px;
    padding-bottom: 24px;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  background-color: #FAFAFA;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .gallery {
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .gallery {
    padding-left: 148px;
    padding-right: 148px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.gallery__header {
  font-size: 32px;
  padding-bottom: 16px;
  margin: 0;
  font-weight: 600;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .gallery__header {
    padding-top: 48px;
    padding-bottom: 36px;
    font-size: 36px;
    line-height: 32px;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .gallery__header {
    padding-top: 48px;
    padding-bottom: 36px;
    font-size: 28px;
    line-height: 32px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .gallery__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .gallery__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.gallery__image {
  width: 100%;
  background-size: cover;
  padding-bottom: 24px;
  filter: grayscale(100%);
}
.gallery__image:hover {
  filter: grayscale(0);
}
@media (min-width: 768px) and (max-width: 1279px) {
  .gallery__image {
    width: 31%;
  }
}
@media (min-width: 1280px) and (max-width: 2559px) {
  .gallery__image {
    width: 31%;
  }
}