@use './partials/mixins' as mixin;
@import './partials/global';


// Styling for the hero section
.hero{
    background-image: url(../assets/Images/hero-bio.jpg);
    background-size: cover;
    background-position: center;
    display: flex; 
    align-items: center;
    position: relative;
    aspect-ratio: 10/6;
    width: 100%;

    @include mixin.tablet{
        aspect-ratio: 9/5;
    }

    @include mixin.desktop{
        aspect-ratio: 5/2;
        // height: 40vh;
    }

    @include mixin.ultrawide{
        aspect-ratio: 3/1;
    }

    &__overlay {
        content:'';
        position: absolute;
        left: 0;
        right: 0;
        top: 0; 
        bottom: 0;
        background: rgba(50, 50, 50, 0.5);
        z-index: 1;
    }

    &__title {
        padding-left: 16px;
        margin:0;
        color: $primary-text-lighbg;
        font-size: $page-header-font-size;
        line-height: $page-header-line-height;
        font-weight: 600;
        z-index: 2;

        @include mixin.tablet{ 
            padding-left: 36px;
            font-size: 60px;
            line-height: $page-header-line-height * 2.125;
            font-weight: 600;
        }

        @include mixin.desktop{
            padding-left: 148px;
            font-size: $page-header-font-size * 2.5;
            line-height: $page-header-line-height * 2.125;
            font-weight: 600;
        }

        @include mixin.ultrawide{
            padding-left: 148px;
            font-size: $page-header-font-size * 2.5;
            line-height: $page-header-line-height * 2.125;
            font-weight: 600;
        }
    }
}

// Styling for the main

.about-section{
    display:flex;
    flex-direction: column;
    padding-right: 16px;
    padding-left: 16px;

    @include mixin.tablet{
        padding-left: 36px;
        padding-right: 36px;
    }

    &__header{
        padding-top: 24px;
        padding-bottom: 16px;
        margin:0;
        font-size: $section-header-font-size;
        line-height: $page-header-line-height;
        font-weight: 600;

        @include mixin.tablet{
            padding-top: 48px;
            padding-bottom: 36px;
            font-size: 36px;
            line-height: $page-header-line-height;
        }
    }   

    &__image{
        padding-bottom: 16px;
        margin:0;
        width: 100%;
        aspect-ratio: 10/6;

        @include mixin.tablet{
            padding-bottom: 36px;
            aspect-ratio: 9/5;
            height: auto;
            width: 85%;
            align-self: center;
        }
    }

    &__image-description{
        margin:0;
        font-size:$body-copy-font-size;
        line-height: $body-copy-line-height;
        font-weight: 600;

        @include mixin.tablet{
            font-size: 24px;
            font-weight: 500;
            width: 85%;
            align-self: center;
        }
    }

    &__indent{
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 16px;

        @include mixin.tablet{
            font-size: 16px;
            font-weight: 500;
        }
    }
    
    &__subheader{
        font-size: $subheader-font-size;
        font-weight: 500;
        line-height: $subheader-line-height;
        padding-bottom: 16px;
        margin: 0;

        @include mixin.tablet{
            font-size: 24px;
            font-weight: 600;
            width: 85%;
            align-self: center;
        }
    }

    &__paragraph1{
        margin:0;
        font-size:$body-copy-font-size;
        line-height: $body-copy-line-height;
        padding-bottom: 16px;

        @include mixin.tablet{
            font-size: 14px;
        }
    }

    &__paragraph2{
        margin:0;
        font-size:$body-copy-font-size;
        line-height: $body-copy-line-height;
        padding-bottom: 16px;

        @include mixin.tablet{
            font-size: 14px;
        }
    }

    &__subcontainer{
        @include mixin.tablet{
            display: flex;
            width: 85%;
            align-self: center;
            gap: 35px;
            padding-bottom: 24px;
        }
    }
}

.gallery{
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    background-color: $alabaster;
    padding-left: 16px;
    padding-right: 16px;

    @include mixin.tablet{
        padding-left: 32px;
        padding-right: 32px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__header{
        font-size: $page-header-font-size;
        padding-bottom: 16px;
        margin:0;
        font-weight: 600;

        @include mixin.tablet{
            padding-top: 48px;
            padding-bottom: 36px;
            font-size: 36px;
            line-height: $page-header-line-height;
        }
    }

    &__container{

        @include mixin.tablet{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__image{
        width:100%;
        background-size: cover;
        padding-bottom: 24px;

        @include mixin.tablet{
            width: 31%;
        }
    }
    
}

.footer{
    background-color: $primary-text-darkbg;
    display: flex;
    position: relative;
    flex-direction: column;
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;

    @include mixin.tablet{
        padding-right: 32px;
        padding-left: 32px;
    }

    &__header{
        font-size: $page-header-font-size;
        font-weight: 600;
        color: white;
        padding-top: 16px;
        padding-bottom: 24px;
        padding-right: 17px;
        margin: 0;

    }

    &__socials{
        display: flex;
        gap: 30px;
    }

    &__subcontainer{
        @include mixin.tablet{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 50px;
        }
    }
}

.info{
    color: white;
    display:flex;
    flex-direction: column;
    position: relative;

    @include mixin.tablet{
        padding-bottom: 80px;
    }

    &__subcontainer{
        @include mixin.tablet{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 60px;
        }
    }

    &__subheader{
        color: white;
        font-size:$footer-copy-font-size;
        line-height: $footer-copy-line-height;
        font-weight: 600;

        @include mixin.tablet{
            font-size: 14px;
        }
    }

    &__logo-image{
        padding-top: 36px;
        width: 120px;
        height: 25px;

        @include mixin.tablet{
            position:absolute;
            top: -90px;
            right: 0;
        }
    }
    
    &__content{
        font-size: 16px;
        line-height: 25px;

        @include mixin.tablet{
            font-size: 14px;
        }
    }

    &__copyright{
        @include mixin.tablet{
            position: absolute;
            bottom: 0;
        }
    }
}
